{% extends 'tests/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="tests">
    {% for nametest in nametests %}
    <div class="test">
        <h3> {{ nametest.title }}</h3>
        {% for test in nametest.tests %}
<!--            <a class="spisok" href="/question/{{test.slug}}/1">{{ test.title }}</a>-->
        <a class="spisok" href="{{test.slug}}/">{{ test.title }}</a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}