{% extends 'tests/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% load static %}


{% for quest in quests %}
    {{ quest.text }}<br>
    {% for answer in quest.answer.all %}
    <input type="radio" name="select" id="select {{ forloop.counter }}" value="{{ answer.is_valid }}" onclick="radioSelect(this)">
    <label>{{ answer.text }}</label><br><br>
    {% endfor %}

    <br>

    <div class="list_answer">
        <form method="GET">
            <input type="text" name="select_number" value="False"><br>
            <input type="text" name="quest_id" value="{{ quest.id }}"><br>
            {% if page_obj.has_next %}
                <button name="btn_test" value="btn_next">Следующий вопрос</button>
            {% else %}
                <button name="btn_test" value="btn_finish">Завершить</button>
            {% endif %}
        </form>
    </div>

{% endfor %}

<script src="{% static 'js/script.js' %}"></script>


{% endblock %}






